.search-items{
    display: flex;
    justify-content: right;
    justify-content: space-between;
    align-items: center;
}
.arrow{
    height: 18px;
    width: 18px;
}
.button{
    border: none;
    background-color: transparent;
    cursor: pointer;

}